services/HWD_Roboter.wsdl

<?xml version="1.0"?><definitions name="StockQuote" targetNamespace="http://example.com/stockquote.wsdl" xmlns:tns ="http://example.com/stockquote.wsdl" xmlns:xsd1="http://example.com/stockquote.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/ "> <service name = "HWD_Roboter"> <documentation>documentation</documentation><port name = "HWD_Roboter" binding = "tns:Trigger"><soap:address location = "opc.tcp://01-PC:10013"/></port></service><portType name ="HWD_Roboter"><operation name ="HWD_Roboter"><input message ="HWD_Roboter"/><output message ="processDone"/></operation></portType><message name = "HWD_Roboter"><part name = "body" element="xsd1:Switch"/></message><message name = "processDone"><part name = "body" element="xsd1:Status"/></message><types><schema targetNamespace = "http://example.com/stockquote.xsd" xmlns = "http://www.w3.org/2000/10/XMLSchema"><element name = " Switch "><complexType><all><element name ="ns=1;s=inputOpcUa_coordinateX" type ="Int16" value =""/><element name ="ns=1;s=inputOpcUa_coordinateY" type ="Int16" value =""/><element name ="ns=1;s=inputOpcUa_coordinateZ" type ="Int16" value =""/><element name ="ns=1;s=inputOpcUa_executeMovement" type ="Boolean" value =""/></all></complexType></element><element name ="Status"><complexType><all><element name ="ns=1;s=outputOpcUa_processDone" type ="Boolean" value =""/></all></complexType></element></schema></types></definitions>
