services/HWD_Pneumatik.wsdl

<?xml version="1.0"?><definitions name="StockQuote" targetNamespace="http://example.com/stockquote.wsdl" xmlns:tns ="http://example.com/stockquote.wsdl" xmlns:xsd1="http://example.com/stockquote.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/ "> <service name = "HWD_Pneumatik"> <documentation>documentation</documentation><port name = "HWD_Pneumatik" binding = "tns:Trigger"><soap:address location = "opc.tcp://01-PC:10012"/></port></service><portType name ="HWD_Pneumatik"><operation name ="HWD_Pneumatik"><input message ="HWD_Pneumatik"/><output message ="processDone"/></operation></portType><message name = "HWD_Pneumatik"><part name = "body" element="xsd1:Switch"/></message><message name = "processDone"><part name = "body" element="xsd1:Status"/></message><types><schema targetNamespace = "http://example.com/stockquote.xsd" xmlns = "http://www.w3.org/2000/10/XMLSchema"><element name = " Switch "><complexType><all><element name ="ns=1;s=inputOpcUa_extendCylinder" type ="Boolean" value =""/></all></complexType></element><element name ="Status"><complexType><all><element name ="ns=1;s=outputOpcUa_processDone" type ="Boolean" value =""/></all></complexType></element></schema></types></definitions>
