processes/test4/HWD_Kamera.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/ " xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/stockquote.wsdl" xmlns:xsd1="http://example.com/stockquote.xsd" name="StockQuote" targetNamespace="http://example.com/stockquote.wsdl"> <service name="HWD_Kamera"> <documentation>documentation</documentation>
<port binding="tns:Trigger" name="HWD_Kamera">
<soap:address location="opc.tcp://01-PC:10014"/>
</port>
</service>
<portType name="HWD_Kamera">
<operation name="HWD_Kamera">
<input message="HWD_Kamera"/>
<output message="processDone"/>
</operation>
</portType>
<message name="HWD_Kamera">
<part element="xsd1:Switch" name="body"/>
</message>
<message name="processDone">
<part element="xsd1:Status" name="body"/>
</message>
<types>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema" targetNamespace="http://example.com/stockquote.xsd">
<element name=" Switch ">
<complexType>
<all>
<element name="ns=1;s=inputOpcUa_takePhoto" type="Boolean" value="true"/>
</all>
</complexType>
</element>
<element name="Status">
<complexType>
<all>
<element name="ns=1;s=outputOpcUa_objectColor" type="Int16" value=""/>
<element name="ns=1;s=outputOpcUa_processDone" type="Boolean" value=""/>
</all>
</complexType>
</element>
</schema>
</types>
</definitions>
